.eightbyeight-container {
  display: grid;
  padding-right: 7px;
  padding-bottom: 7px;
  width: 160px;
  height: 160px;
  grid-row-gap: 0;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.sixteenbysixteen-container {
  display: grid;
  width: 320px;
  padding-right: 15px;
  padding-bottom: 15px;
  height: 320px;
  grid-row-gap: 0;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
